{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block body %}
<main class="all-main">
  <div class="content-home">
    <div class="part-text">
      <h1>DEV NATION</h1>
      <h2>La plateforme qui réunit les métiers du web</h2>
      <p class="b-mots">
        ECHANGER <br />
        DEMANDER <br />
        RENCONTRER <br />
      </p>
      <!-- <p class="paragraphe-home">
        Maecenas a tincidunt mauris. Duis mollis rutrum sem vitae iaculis.
        Curabitur elementum interdum viverra. Quisque feugiat fermentum sem in
        pretium. Phasellus eu diam turpis. Nam bibendum non nisi sit amet
        semper.
      </p> -->
      <a href="{{ path('aboutus') }}" class="btn-plus">En savoir plus</a>
    </div>
    <div class="part-form">
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <div class="form-container form-container-2">

        <h2>Bienvenue</h2>
        <p class="conn-on-home">Connecté en tant que : <br> <span>{{ app.user.pseudo }}</span> </p>
        <a class="btn-logout-home" href="{{ path('app_logout') }}">Se déconnecter</a>
        <a class="btn-mon-profil-home" href="{{path('user_profil', {'id': app.user.id })}}" class="text-center">Mon Profil</a>
      </div>
      
      {% else %}
      <div class="form-container">
        <form action="{{ path('app_login') }}" method="post">

          <input
            placeholder="Adresse e-mail"
            type="email"
            value=""
            name="email"
            id="inputEmail"
            class="form-control mb-3"
            required
            autofocus
          />
  
          <input
            placeholder="Mot de passe"
            type="password"
            name="password"
            id="inputPassword"
            class="form-control mb-3"
            required
          />
  
          <input
            type="hidden"
            name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
          />
          <div class="connex-div">
            <button class="btn-connexion" type="submit">Connexion</button>
          </div>
          <div class="mdp">
            <a class="mdp-forget" href="">Mot de passe oublié ?</a>
          </div>
          <div class="line"></div>
          <div class="create-div">
            <a class="btncreate" href="{{ path('app_register') }}">Créer un compte</a>
          </div>
        </form>
      </div>
      {% endif %}
    </div>
  </main>
  {% endblock %}