{% extends 'base.html.twig' %}



{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <div class="flash-{{ label }} bg-{{ label }} text-light p-3 rounded">
                {{ message }}
            </div>
        {% endfor %}
        
    {% endfor %}
    {{ form_start(registrationForm) }}
    <div class="container-form-register">
        
        <h2 class="p-3">Inscription</h2>
        <div class="line line-register"></div>
        <div class="">
            <form>
                
                <div class="contain-input">
                    {{ form_row(registrationForm.pseudo) }}
                </div>

                <div class="contain-input">
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="contain-input">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}
                </div>
                <div class="contain-input">
                    {{ form_row(registrationForm.metier) }}
                </div>
                <div class="contain-input">
                    {{ form_row(registrationForm.niveau) }}
                </div>
                <div class="contain-input">
                    {{ form_row(registrationForm.imgprofil)}}
                </div>
                <div class="contain-input">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
                {{ form_row(registrationForm._token) }}
                <div class="text-center">
                    {{ form_row(registrationForm.valider) }}
                </div>
                <div class="text-center">
                    <p class="">Vous avez déjà un compte ? <a href="{{ path('app_login') }}" class="login-register">Se Connecter</a></p>
                </div>

            </form>
        </div>

    </div>
        
    {{ form_end(registrationForm) }}
    
    
{% endblock %}