{% extends 'base.html.twig' %}



{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    

    <main class="container-fluid col-6">
        <div class="col-4 offset-4">
            <h1>Inscription</h1>        
            {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.metier) }}
            {{ form_row(registrationForm.niveau) }}
            {{ form_row(registrationForm.imgProfil) }}
            {{ form_row(registrationForm.agreeTerms) }}
            {{ form_row(registrationForm.valider) }}
            

            {{ form_end(registrationForm) }}
            <div class="dropdown-divider"></div>
        </div>
        <p class="text-center">Vous avez déjà un compte ? <a href="{{ path('app_login') }}" class="badge badge-success">Se connecter</a></p>
        
    </main>

    
{% endblock %}
