{% extends 'base.html.twig' %}

{% block title %}About us !{% endblock %}

{% block body %}
    <div class="au-content-bg">
        <div class="au-content">

            <ul class="au-header-nav">
                <li><a href="{{path('aboutus')}}" class="au-a">About us</a></li>
                <li class="au-separator"></li>
                <li><a href="{{path('contact')}}" class="au-a">Contact us</a></li>
                <li class="au-separator"></li>
                <li><a href="{{path('faq')}}" class="au-a">FAQ</a></li>
            </ul>

            <h1 class="au-h1">A propos de nous</h1>

            <hr class="au-hr">

            <h2 class="au-title">Bonjour la D<span class="au-title-color2">ev</span> N<span class="au-title-color2">ation</span>.</h2>
            
            <p class="p-5 au-p">
                Nous sommes une équipe de cinq personnes, passionnés par les nouvelles technologies et soucieux de<br>
                 mettre en avant la complémentarité qui existe entre les métiers du Web et du Design.
            </p>

            <div class="au-ul-bg">
                <ul class="au-ul">                          
                        <li>
                            <a href="https://www.linkedin.com/in/milan-jovanovic-8b2a5314a/" target="_blank">

                                <img  src="{{ asset('img/aboutus/account 2.png') }}" alt="">
                            </a>
                            <p class="au-li">Milan Jovanovic</p>
                         </li>
                        <li>
                            <a href="https://www.linkedin.com/in/pakham-nicabou-b13711185/" target="_blank">

                                <img src="{{ asset('img/aboutus/account 2.png') }}" alt="">
                            </a>
                            <p class="au-li">Pakham Nicabou</p>
                         </li>
                        <li>
                            <a href="https://www.linkedin.com/in/sawsan-alkebsi-a6b733194/" target="_blank">

                                <img src="{{ asset('img/aboutus/account 2.png') }}" alt="">
                            </a>
                            <p class="au-li">Sawsan Al Kebsi</p>
                         </li>
                        <li>
                            <a href="https://www.linkedin.com/in/philippe-gu%C3%A9neux-896721197/" target="_blank">

                                <img src="{{ asset('img/aboutus/account 2.png') }}" alt="">
                            </a>
                            <p class="au-li">Philippe Guéneux</p>
                         </li>
                        <li>
                            <a href="https://www.linkedin.com/in/koray-canli-270704192/" target="_blank">

                                <img src="{{ asset('img/aboutus/account 2.png') }}" alt="">
                            </a>
                            <p class="au-li">Koray Canli</p>
                        </li>
                </ul>
            </div>

            <p class="p-5 au-p text-center">
                Issus de parcours très différents, mais unis par la volonté de progresser 
                ensemble et de créer du lien,<br> nous avons imaginé une plateforme qui 
                offrirait<br> aux professionnels, aux étudiants ou aux curieux de toutes sortes<br> 
                la possibilité de partager leurs connaissances et d’échanger autour de leurs métiers.
                <br><br>
                Que vous soyez Développeur-intégrateur, Graphiste, Webdesigner...
            </p>

        </div>
    </div>

{% endblock %}
