{% extends 'base.html.twig' %}

{% block title %}DEV-NATION | FAQ{% endblock %}

{% block body %}
    <div class="container-faq">

        <h1 class="au-h1">FAQ</h1>

            <hr class="au-hr">

        <div class="content-faq">
            <div class="ask-container" onclick="changeStyle2('block');">
                <h3>Comment changer mon mot de passe ?</h3>
                <img src="{{asset('img/icons/down-ask.png')}}" alt="icon-down">    
            </div>
            <p id="answer2" class="answer-faq">
                1. Cliquez sur <img class="faq-img-profil" src="{{asset('img/icons/account 2.png')}}" alt=""> en haut à droite.<br>
                2. Cliquez sur le bouton Modifier.<br>
                3. Saisissez votre nouveau mot de passe.<br>
                4. Cliquez sur le bouton Valider au bas de la page.<br>
            </p>
        </div>
        <div class="content-faq">
            <div class="ask-container" onclick="changeStyle3('block');">
                <h3>Est-ce que je peux devenir membre sans être développeur ni designer ?</h3>
                <img src="{{asset('img/icons/down-ask.png')}}" alt="icon-down">    
            </div>
            <p id="answer3" class="answer-faq">Oui, en choisissant "Autre" dans la catégorie "Métier" lors de l'inscription.
            </p>
        </div>
        <div class="content-faq">
            <div class="ask-container" onclick="changeStyle4('block');">
                <h3>Est-ce que je peux poster ou commenter sans être membre ?</h3>
                <img src="{{asset('img/icons/down-ask.png')}}" alt="icon-down">    
            </div>
            <p id="answer4" class="answer-faq">Non, seuls les membres de la Dev Nation peuvent poster ou commenter.
            </p>
        </div>
        <div class="content-faq">
            <div class="ask-container" onclick="changeStyle5('block');">
                <h3>Est-ce que je peux contacter les autres membres du site ?</h3>
                <img src="{{asset('img/icons/down-ask.png')}}" alt="icon-down">    
            </div>
            <p id="answer5" class="answer-faq">Coming soon, next update !
            </p>
        </div>
        <h4>Vous ne trouvez pas votre réponse ?</h4>
        <div class="container-btn-faq">
            <a href="{{path('contact')}}">Nous contacter</a>
        </div>



    </div>
{% endblock %}
