{% extends 'baseAdmin.html.twig' %}

{% block title %}Commentaires {% endblock %}

{% block body %}



<h2 class="text-center p-3">Liste des Commentaires</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>N°</th>
            <th>User</th>
            <th>Post_id</th>
            <th>Contenu</th>
            <th>Date</th>
            <th>modifier</th>
            <th>supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td class="align-middle">{{loop.index}}</td>
                <td class="align-middle">{{commentaire.user_id}}</td>
                <td class="align-middle">{{commentaire.post_id}}</td>
                <td class="align-middle">{{commentaire.content}}</td>
                <td class="align-middle">{{commentaire.date}}</td>
                <td class="align-middle"> <i class="fas fa-pen"></i> </td>
                <td class="align-middle"> <i class="fas fa-trash-alt"></i> </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-right">
    <a class="btn btn-outline-danger" href="">Ajouter une commentaires</a>
</div>

{% endblock %}