{% extends 'baseAdmin.html.twig' %}

{% block title %}métiers!{% endblock %}

{% block body %}
<h2 class="text-center p3"> Liste des Métiers</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>N°</th>
            <th>Métier</th>
            <th>modifier</th>
            <th>supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for metier in metiers %}
            <tr>
                <td class="align-middle">{{loop.index}}</td>
                <td class="align-middle">{{metier.metier}}</td>
                <td class="align-middle"> <a href="{{ path('update_metiers', {'id':metier.id}) }}"><i class="fas fa-pen"></i></a></td>
                <td class="align-middle"> <a href="{{ path('delete_metiers', {'id':metier.id}) }}"><i class="fas fa-trash-alt"></i></a> </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-right">
    <a class="btn btn-outline-danger" href="{{ path('create_metiers') }}">Ajouter une métier</a>
</div>
{% endblock %}
