{% extends 'baseAdmin.html.twig' %}

{% block title %}posts {% endblock %}

{% block body %}

<h2 class="text-center p-3">Liste des posts</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>N°</th>
            <th>User</th>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Image</th>
            <th>Date</th>
            <th>Métier</th>
            <th>modifier</th>
            <th>supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            <tr>
                <td class="align-middle">{{loop.index}}</td>
                <td class="align-middle">{{post.user.pseudo}}</td>
                <td class="align-middle">{{post.title}}</td>
                <td class="align-middle">{{post.content}}</td>
                <td class="align-middle">{{post.img}}</td>
                <td class="align-middle">{{post.date|date("m/d/Y","Europe/Paris")}}</td>
                <td class="align-middle">{{post.metier.metier}}</td>
                <td class="align-middle"> <a href="{{ path('post_update' , { 'id': post.id })}}"> <i class="fas fa-pen"></i> </a> </td>
                <td class="align-middle"> <a href="{{ path('post_delete' , { 'id': post.id })}}"> <i class="fas fa-trash-alt"></i></a>  </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-right">
    <a class="btn btn-outline-danger" href="{{ path('post_create') }}">Ajouter une post</a>
</div>

{% endblock %}