{% extends 'baseAdmin.html.twig' %}

{% block body %}

    <h2 class="pb-5">Formulaire - posts</h2>
    {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <div class="flash-{{ label }} bg-{{ label }} text-light p-3 rounded">
                {{ message }}
            </div>
        {% endfor %}
        
    {% endfor %}
    {{ form_start(postsForm) }}
        
    {{ form_end(postsForm) }}

{% endblock %}
