{% extends 'baseAdmin.html.twig' %} {% block title %}compétences {% endblock %}
{% block body %}

<h2 class="text-center p-3">Liste des compétences</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>N°</th>
      <th>Titre</th>
      <th>Image</th>
      <th>Modifier</th>
      <th>Supprimer</th>
    </tr>
  </thead>
  <tbody>
    {% for label, message in app.flashes(['success']) %}
        {% for message in message %}
            <div class="flash-{{ label }} bg-{{ label }} text-light p-3 rounded">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for skill in skills %}
    <tr>
      <td class="align-middle">{{ loop.index }}</td>
      <td class="align-middle">{{ skill.title }}</td>
      <td class="align-middle">{{ skill.imageskill }}</td>
      <td class="align-middle">
        <a href="{{ path('skills_update', { 'id': skill.id }) }}"
          ><i class="fas fa-pen"></i
        ></a>
      </td>
      <td class="align-middle">
        <a href="{{ path('skills_delete', { 'id': skill.id }) }}"
          ><i class="fas fa-trash-alt"></i
        ></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="text-right">
  <a class="btn btn-outline-danger" href="{{ path('skill_create') }}"
    >Ajouter une compétence</a
  >
</div>

{% endblock %}
