{% extends 'baseAdmin.html.twig' %}

{% block title %}utilisateurs{% endblock %}

{% block body %}
 <h2 class="text-center p-3"> Liste des utilisateurs</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>N°</th>
            <th>Pseudo</th>
            <th>Email</th>
            <th>Métier</th>
            <th>Niveau</th>
            <th>Description</th>
            <th>Image Profile</th>
            <th>modifier</th>
            <th>supprimer</th>
        </tr>
    </thead>

    <tbody>
        {% for user in users %}
            <tr>
                <td class="align-middle">{{loop.index}}</td>
                <td class="align-middle">{{user.pseudo}}</td>
                <td class="align-middle">{{user.email}}</td>
                <td class="align-middle">metier</td>
                <td class="align-middle">{{user.description}}</td>
                <td class="align-middle">{{user.imgprofil}}</td>
                <td class="align-middle"> <i class="fas fa-pen"></i> </td>
                <td class="align-middle"> <i class="fas fa-trash-alt"></i> </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-right">
    <a class="btn btn-outline-danger" href="">Ajouter une User</a>
</div>

{% endblock %}
