{% extends 'base.html.twig' %}

{% block title %} all-users - autre{% endblock %}

{% block body %}

<div class="container-all-users">
    <div class="au-content">

        
        <div class="row">

            <div class="col-6 col-lg-3  my-2">                           
                <div class="btn-nav">
                    <a class="   " href="{{path('all_users')}}">TOUS </a>
                </div>                     
            </div> 

            <div class="col-6 col-lg-3  my-2">  
                <div class="btn-nav">
                    <a class=" " href="{{path('usersFront')}}">FRONTEND </a>                       
                </div>                         
            </div>   

            <div class="col-6 col-lg-3 my-2">
                <div class="btn-nav">                    
                    <a class=" " href="{{path('usersBack')}}">BACKEND </a>             
                </div>                       
            </div>

            <div class="col-6 col-lg-3 my-2">
                <div class="btn-nav">
                    <a class=" " href="{{path('usersDesign')}}">DESIGN </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 my-2">
                <div class="btn-nav">
                    <a class=" " href="{{path('usresFullstack')}}">FULLSTACK </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 my-2">
                <div class="btn-nav">
                    <a class = " " href="{{path('usersAutre')}}">AUTRE</a>
                </div>
            </div>
            
        </div>
    </div>

    <p class="h1-all-users">
        Personnes qui seraient suceptibles de vous intéresser :
    </p>

    <div class="row">
        {% for user in users %}
            {% if user.metier.metier == "Autre" %}
                <div class="col-12 col-md-6 col-lg-6 col-xl-4 text-center my-4">
                    <div class="container-users-all">
        
                        {% if user.metier.metier == "Frontend" %}
                    
                            <img  class="photo-users" src="{{ asset('img/metier/front-end.png') }}" alt="">
                            
                            <p class="nom-users">{{user.pseudo}}</p>
                            <p class="metier-users"> Développeur Front-end</p>
                    
                        {% elseif user.metier.metier == "Backend" %}
                                
                            <img  class="photo-users" src="{{ asset('img/metier/back-end.png') }}" alt="">
                            
                            <p class="nom-users">{{user.pseudo}}</p>
                            <p class="metier-users">Développeur Back-end</p>
                        
                        {% elseif user.metier.metier == "Design" %}
                                
                            <img  class="photo-users" src="{{ asset('img/metier/design.png') }}" alt="">
                    
                            <p class="nom-users">{{user.pseudo}}</p>
                            <p class="metier-users">Design</p>
                        
                        {% else %}
                                
                            <img  class="photo-users" src="{{ asset('img/metier/unknow.png') }}" alt="">
                            <p class="nom-users">{{user.pseudo}}</p>
                            <p class="metier-users">Autre</p>
                        {% endif %}

                        
                        <a href="{{path('user_profil', {'id': user.id })}}" class="btn-profil">VOIR PROFIL</a>
                    </div> 
                </div>
            {% endif %}
        {% endfor %}
    </div>
        
</div>

{% endblock %}
